.single-movie:hover .play-btn {
  opacity: 1;
  transition: 0.2s ease-in-out;
}

.single-movie:hover img {
  opacity: 0.7;
}

.test {
  background-color: rgba(0, 0, 0, 0.5);
}

.movie-desc {
  background-color: rgb(31, 31, 31);
}

.trending-holder {
  background-image: url("../../images/kids.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.rows-holder {
  background-color: rgb(20, 20, 20);
}

.movie-holder {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.movie-holder::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@media only screen and (max-width: 1799px) {
  .movie-title {
    width: 100%;
  }

  .movie-descr {
    width: 80%;
  }
}

@media only screen and (max-width: 1605px) {
  .movie-descr {
    width: 100%;
  }
}

@media only screen and (max-width: 1700px) {
  .single-row {
    margin-left: 0;
  }

  .watch-movie {
    width: 60%;
    left: 20%;
  }
}

@media only screen and (max-width: 1500px) {
  .watch-movie {
    width: 60%;
    left: 20%;
  }

  .movie-details {
    width: 80%;
  }
}

@media only screen and (max-width: 1440px) {
  .genres-holder {
    width: 60%;
  }
}

@media only screen and (max-width: 1424px) {
  .movbtns-holder {
    width: 50%;
  }
}

@media only screen and (max-width: 1265px) {
  .randesc-holder {
    width: 60%;
  }
}

@media only screen and (max-width: 1240px) {
  .vid-btns {
    width: 30%;
  }
}

@media only screen and (max-width: 1105px) {
  .watch-movie {
    width: 90%;
    left: 2.5%;
  }

  .movie-details {
    width: 80%;
  }

  .genres-holder {
    width: 70%;
  }

  .selection-types {
    width: 20%;
  }
}

@media only screen and (max-width: 1063px) {
  .randesc-holder {
    width: 70%;
  }
}

@media only screen and (max-width: 962px) {
  .rows-holder {
    top: 70%;
  }
}

@media only screen and (max-width: 910px) {
  .genres-holder {
    width: 100%;
  }
  .selection-types {
    display: none;
  }
}

@media only screen and (max-width: 907px) {
  .randesc-holder {
    width: 85%;
  }
}

@media only screen and (max-width: 781px) {
  .randesc-holder {
    margin-top: 0;
    margin-bottom: 25%;
  }
}

@media only screen and (max-width: 780px) {
  .rows-holder {
    top: 60%;
  }
}

@media only screen and (max-width: 745px) {
  .randesc-holder {
    width: 100%;
  }
}

@media only screen and (max-width: 671px) {
  .randesc-holder {
    margin-bottom: 35%;
  }
}

@media only screen and (max-width: 670px) {
  .genres-holder {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .rows-holder {
    top: 50%;
  }
}

@media only screen and (max-width: 655px) {
  .randesc-holder {
    margin-bottom: 50%;
  }
}
@media only screen and (max-width: 635px) {
  .vid-btns {
    width: 40%;
  }
}

@media only screen and (max-width: 605px) {
  .randesc-holder {
    height: 25%;
    margin-bottom: 70%;
  }

  .movie-title {
    font-size: 2.3rem;
  }

  .movie-descr {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 600px) {
  .single-row {
    margin-left: 0;
  }

  .rows-holder {
    top: 45%;
  }

  .watch-movie {
    width: 100%;
    left: 0;
  }

  .movie-details {
    width: 100%;
  }
}

@media only screen and (max-width: 596px) {
  .nav {
    display: none;
  }
}

@media only screen and (max-width: 502px) {
  .randesc-holder {
    position: fixed;
    top: 8%;
    height: 20%;
    /* margin-bottom: 100%; */
  }

  .rows-holder {
    top: 30%;
  }
}

@media only screen and (max-width: 495px) {
  .vid-btns {
    width: 50%;
  }
}

@media only screen and (max-width: 452px) {
  .movie-title {
    font-size: 1.4rem;
  }

  .movie-descr {
    font-size: 1rem;
  }

  .movbtns-holder button {
    height: 70%;
  }
}

@media only screen and (max-width: 400px) {
  .movbtns-holder {
    width: 80%;
  }

  .vid-btns {
    width: 60%;
  }
}

@media only screen and (max-width: 360px) {
  .randesc-holder {
    top: 5%;
    height: 22%;
  }
}
