@media only screen and (max-width: 600px){

    .main-signup {
        height: 80vh;
        width: 100%;
        margin: 0 auto;
    }
    .signup-holder {
        margin-left: 3rem;
        width: 100%;
    }

    .footer-2 div {
        height: 15vh;
        width: 100%;
    }

    .terms, .privacy {
        display: none;
    }
}