@media only screen and (max-width: 1500px) {
  .choose-holder {
    width: 50%;
  }

  .choose-holder > button {
    width: 40%;
  }

  .choose-holder img {
    width: 30%;
  }
}

@media only screen and (max-width: 600px) {
  .choose-holder {
    width: 100%;
  }

  .choose-holder > button {
    width: 55%;
  }

  .choose-holder img {
    width: 45%;
  }
}
