.wrapper {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.45) 100%
    ),
    url("../../images/alternative.jpg");
}
/* I am  */
@media only screen and (max-width: 1710px) {
  .sign-form {
    height: 90%;
    width: 30%;
  }
}

@media only screen and (max-width: 1600px) {
  .sign-form {
    height: 90%;
    width: 35%;
  }
}

@media only screen and (max-width: 1310px) {
  .sign-form {
    height: 90%;
    width: 45%;
  }
}

@media only screen and (max-width: 1120px) {
  .sign-form {
    height: 72%;
    width: 45%;
  }
}

@media only screen and (max-width: 874px) {
  .sign-form {
    height: 70%;
    width: 58%;
  }
}

@media only screen and (max-width: 716px) {
  .sign-form {
    height: 70%;
    width: 65%;
  }
}

@media only screen and (max-width: 600px) {
  .wrapper {
    height: 130vh;
  }

  .sign-form {
    height: 75%;
    width: 80%;
  }

  .wrapper {
    justify-content: space-between;
  }

  .terms .privacy {
    display: none;
  }

  .footer-3 div {
    width: 100%;
    margin: 0;
  }

  @media only screen and (max-width: 500px) {
    .sign-form {
      height: 75vh;
      width: 95%;
    }
  }
}
